<a href="https://colab.research.google.com/github/Maf18z1/II1/blob/II/73_%D0%A7%D0%B5%D0%BA%D0%B0%D0%BB%D0%BE%D0%B2_%D1%82%D0%B5%D0%BC%D0%B0_B.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ознакомительная практика. Тема B. 73_Чекалов

## Задание B1
Написать функцию expanded_form, которая получает число и возвращает строку - сумму слагаемых числа.  
Между слагаемыми поставить символ +, все отделить пробелами  

Примеры:
```python
expanded_form(12345) ==> "10000 + 2000 + 300 + 40 + 5"
```

In [13]:
def expanded_form(num):
    s=""
    for i in range(len(str(num))):
      if (int(str(num)[i])!=0):
        s+=str(int(str(num)[i])*10**(len(str(num))-i-1))
      if (i!=len(str(num))-1)and(int(str(num)[i+1])!=0):
        s+=" + "
    return s

Тесты:

In [14]:
import traceback
try:
    assert expanded_form(12345) == "10000 + 2000 + 300 + 40 + 5"
    assert expanded_form(50) == "50"
    assert expanded_form(47) == "40 + 7"
    assert expanded_form(500206) == "500000 + 200 + 6"
except AssertionError:
    print("TEST ERROR - ОШИБКА В ТЕСТЕ")
    traceback.print_exc()
else:
    print("TEST PASSED - ТЕСТЫ ПРОЙДЕНЫ")

TEST PASSED - ТЕСТЫ ПРОЙДЕНЫ

## Задание B2
Написать функцию balance, которая получает небольшую чековую книжку в виде строки.  
На первой строчке: первоначальный баланс, на последующих через пробел: номер чека, категория, цена.  
Вернуть строку - видоизмененный чек с построчным добавлением остатка баланса.  
А на последних строчках добавить потраченную сумму и остаток.  

Примеры:
```python
book = "1000.00
125 Market 125.45
126 Hardware 34.95
127 Video 7.45
128 Book 14.32
129 Gasoline 16.10"
balance(book) ==>
"Original_Balance:_1000.00
125_Market_125.45_Balance_874.55
126_Hardware_34.95_Balance_839.60
127_Video_7.45_Balance_832.15
128_Book_14.32_Balance_817.83
129_Gasoline_16.10_Balance_801.73
Total_expense__198.27
Average_expense__39.65"
```

In [117]:
def balance(book):
  s="Original Balance: "
  book=book.split("\n")
  for book1 in book:
    y=""
    if book1==book[0]:
      for i in range(len(book1)):
        if ((ord(book1[i])>=48 and ord(book1[i])<=57)or ord(book1[i])==46):
          y+=book1[i]
      s+=y
    else:
      for i in range(3,len(book1)):
        if ((ord(book1[i])>=48 and ord(book1[i])<=57)or ord(book1[i])==46):
          y+=book1[i]
      for i in range(len(book1)):
        if ((ord(book1[i])>=97 and ord(book1[i])<=122)or\
          (ord(book1[i])>=65 and ord(book1[i])<=90)or
          (ord(book1[i])==32)):
          s+=book1[i]
    y=float(y)
    print(y)
    s+="\r"
  return s
b1 = """1000.00!=
125 Market !=:125.45
126 Hardware =34.95
127 Video! 7.45
128 Book :14.32
129 Gasoline ::16.10"""
print(balance(b1))

1000.0
125.45
34.95
7.45
14.32
16.1
 Gasoline

Тесты:

In [19]:
b1 = """1000.00!=
125 Market !=:125.45
126 Hardware =34.95
127 Video! 7.45
128 Book :14.32
129 Gasoline ::16.10"""

b1sol = """Original Balance: 1000.00\r
125 Market 125.45 Balance 874.55\r
126 Hardware 34.95 Balance 839.60\r
127 Video 7.45 Balance 832.15\r
128 Book 14.32 Balance 817.83\r
129 Gasoline 16.10 Balance 801.73\r
Total expense  198.27\r
Average expense  39.65"""

b2="""1233.00
125 Hardware;! 24.8?;
123 Flowers 93.5
127 Meat 120.90
120 Picture 34.00
124 Gasoline 11.00
123 Photos;! 71.4?;
122 Picture 93.5
132 Tyres;! 19.00,?;
129 Stamps 13.6
129 Fruits{} 17.6
129 Market;! 128.00?;
121 Gasoline;! 13.6?;"""

b2sol = """Original Balance: 1233.00\r
125 Hardware 24.80 Balance 1208.20\r
123 Flowers 93.50 Balance 1114.70\r
127 Meat 120.90 Balance 993.80\r
120 Picture 34.00 Balance 959.80\r
124 Gasoline 11.00 Balance 948.80\r
123 Photos 71.40 Balance 877.40\r
122 Picture 93.50 Balance 783.90\r
132 Tyres 19.00 Balance 764.90\r
129 Stamps 13.60 Balance 751.30\r
129 Fruits 17.60 Balance 733.70\r
129 Market 128.00 Balance 605.70\r
121 Gasoline 13.60 Balance 592.10\r
Total expense  640.90\r
Average expense  53.41"""


import traceback
try:
    assert balance(b1) == b1sol
    assert balance(b2) == b2sol
except AssertionError:
    print("TEST ERROR - ОШИБКА В ТЕСТЕ")
    traceback.print_exc()
else:
    print("TEST PASSED - ТЕСТЫ ПРОЙДЕНЫ")

ValueError: could not convert string to float: '1000.00!='

## Задание B3
Написать функцию anagram_difference, на вход которой дан список слов и которая  
определяет сколько всего букв нужно удалить из всех слов, чтобы они все являлись  
анаграммами (каждое слово получалось перестановкой букв другого)  

Пример:
```python
anagram_difference["hello", "hola", "allo"] ==> 7 (["lo", "ol", "lo"]
```

In [ ]:
def anagram_difference(words):
    # Тело функции
    return 0

Тесты:

In [ ]:
import traceback
try:
    assert anagram_difference(["abc", "ab", "a"]) == 3
    assert anagram_difference(["hello", "hola", "allo"]) == 7
    assert anagram_difference(["cat", "dog", "mouse"]) == 11
    assert anagram_difference(["mouse", "house", "hose", "host"]) == 10
except AssertionError:
    print("TEST ERROR - ОШИБКА В ТЕСТЕ")
    traceback.print_exc()
else:
    print("TEST PASSED - ТЕСТЫ ПРОЙДЕНЫ")

## Задание B4

In [ ]:
# Создать txt-файл, вставить туда любую англоязычную статью из Википедии.
# Реализовать одну функцию, которая выполняет следующие операции:
# - прочитать файл построчно;
# - непустые строки добавить в список;
# - удалить из каждой строки все цифры, знаки препинания, скобки, кавычки и т.д. (остаются латинские буквы и пробелы);
# - объединить все строки из списка в одну, используя метод join и пробел, как разделитель;
# - создать словарь вида {“слово”: количество, “слово”: количество, … } для подсчета количества разных слов,
#   где ключом будет уникальное слово, а значением - количество;
# - вывести в порядке убывания 10 наиболее популярных слов, используя форматирование
#   (вывод примерно следующего вида: “ 1 place --- sun --- 15 times \n....”);
# - заменить все эти слова в строке на слово “PYTHON”;
# - создать новый txt-файл;
# - записать строку в файл, разбивая на строки, при этом на каждой строке записывать не более 100 символов
#   при этом не делить слова.


def wiki_function():
    # Тело функции
    return 1